body {
    margin: 0 auto;
}
header, footer {
  
    text-align: center;
    background-color:#e715cf;
    padding: 50px;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 3;
    opacity: 0.5;
}
.modal-container {
    position: relative;
    width: 400px;
    z-index: 4;
    background-color: white;
    height: 794px;
    opacity: 1;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-modal {
    text-align: center;
    font-weight: 600;
    margin-top: -20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;

  

    

/* identical to box height */

text-align: center;
}
.modal-container form {
    margin: 20px 0px;
}
.container {
    max-width: 1300px;
    margin: 10px auto;
    min-height: 400px;
}
.center-flex {
    display: flex;
    align-items: center;

    flex-direction: row;
    margin-top: -270px;
    margin-right: -900px;

    flex-direction: column;
    margin-bottom: 25px;  

}
.button-pink {
   
    margin: 5px 0;
    background-color: #e715cf; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    

}

input{
    display: flex;
    margin-bottom: 20px;
    height: 30px; 
    width: 300px;
    border-radius: 3px;
    
}
input[type="submit" i]{
    height: 30px;
    color: white;
    background-color: black;
    display:flex;
    justify-content: center;
    border-radius: 3px;
     
}

h3{
    color: black;
    margin: 0;
    padding: 0;

}