body {
    margin: 0 auto;
}
header, footer {
    padding: 20px;
    text-align: center;
    background-color: lawngreen;
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 3;
    opacity: 0.5;
}
.modal-container {
    position: relative;
    width: 400px;
    z-index: 4;
    background-color: white;
    min-height: 300px;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title-modal {
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.modal-container form {
    margin: 20px 0px;
}
.container {
    max-width: 1300px;
    margin: 10px auto;
    min-height: 400px;
}
.center-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.button-green {
    margin: 5px 0;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.button-green:hover {
    background-color: #3e8e41;
}